.counterContainer {
  width: 100%;
  height: auto;
  background-color: darkviolet;
  color: #fff;
  font-size: 56px;
  text-align: center;
}
.countlistName {
  display: flex;
  font-size: 30px;
  justify-content: center;
}
.countlistName p {
  margin-bottom: 0;
}
.countlistName p::after {
  content: ":";
}
