.socailCard{
    padding: 6px 8px;
    margin: 6px 0;
    border: 1px solid #808080ab;
    border-radius: 4px;
}
.cardHeader{
 gap: 15px;
}
.inputControl{
    width: 100%;
    display: flex;
    position: relative;
    border: 1px solid #80808086;
    margin: 6px 0;
    border-radius: 4px;
}
.inputControl p{
    background-color: #80808056;
    padding: 3px 8px;
    font-size: 13px;
}
.inputControl input{
    display: block;
    width: 100%;
    padding: 0 6px;
}
.inputControl input:focus{
    outline: none;
}

.delete{
    margin-bottom: 0;
    color: #ff0000e3;
    font-size: 13px;
    cursor: pointer;
}